# Ignore Python cache & virtual environment
backend/__pycache__/
backend/venv/
backend/.env
backend/store-my-docs-backend-python.code-workspace

# Ignore Node.js dependencies
frontend/node_modules/

# Ignore system files
.DS_Store
*.log
.idea/

# AWS related files
backend/aws/